.btn {
  display: inline-block;
  margin-right: 30px;
  height:80px;
  line-height: 80px;
  width:200px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #999999;
  border-radius: 10px;
}

.iconImg {
  vertical-align: middle;
  height:50px;
  width:auto;
  margin-right: 30px;
}
